FIXTURE_CLEANUP_PRODUCTION_DB_URL=op://BMH Secrets/BMH Institute Supabase/production_pooler_url
FIXTURE_CLEANUP_CONTROLLER_KEY_ID=op://BMH Secrets/BMH Institute Fixture Cleanup Controller/controller_key_id
FIXTURE_CLEANUP_CONTROLLER_HMAC_SECRET=op://BMH Secrets/BMH Institute Fixture Cleanup Controller/hmac_secret
